* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Poppins", serif;
  --beige-clr: #22af86;
  --grey-clr: #c5c5c5;
  --global-padding: 0rem 8rem;
}
.homePageMain {
  position: relative;
  display: flex;
  width: 100%;
  height: 90vh;
  padding-left: 160px;
  padding-right: 160px;
  background-image: url(src/assets/headerBgwithout_car.png);
  background-size: cover;
  display: flex;
}
.homepageFirst {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.homePageSecond img {
 object-fit: contain;
}
.HomePageParentdiv {
  width: 100%;
}
.homepageFirstText {
  color: #414141;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.homePageSecondText {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #22af86;
  line-height: 56px;
}
.homepageThirddiv {
  padding-top: 10px;
  font-size: 13px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  color: #414141;
}
.homePageButton {
  display: flex;
  padding-top: 10px;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.HostButton {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  background-color: #22af86;
  width: 35%;
  padding: 10px;
  border-radius: 40px;
  color: white;
  text-align: center;
  font-size: 12px;
}

.HomePagePlayIcon img {
  height: 33px;
  width: 33px;
}

.search-bar {
  position: absolute;
  bottom: 13%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 35px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 9px;
  width: 930px;
  height: 70px;
  left: 50%;
  transform: translateX(-50%);
}
input {
  border: none;
  padding: 5px;
  border: none;
  border-radius: 5px;
  

}
.searchline{
  width: 5.5px;
}
.input-groupp {
  margin-right: 50px;

  /* border-right: 1px solid #aaa; */
  padding: 37px;
}

.label {
  font-weight: bold;
  margin: 10px;
  background-color: red;
}

input[type="text"]::placeholder {
  color: #aaa;
}

.search-button {
  border: none;
  border-radius: 5px;
  /* padding: 10px; */
  cursor: pointer;
}

.searchbarimg {
  background-color:#fff;
}

/* butto */

.SectionBrowse {
  background-color: black;
  color: white;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SectionBrowseHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}
.staticrent {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  color: #c5c5c5;
  font-size: 22px;
}
.SectionBrowseHeadingBrowse {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: bold;
  font-size: 41px;
  color: #22af86;
}
.SectionBrowseParentCar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  width: 80%;
  height: 450px;
}
.grid-item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  outline: 1px solid white;
  outline-offset: -20px;
}
.SectionBrowseFirst {
  background-image: url(src/assets/teslaBackgroundu.png);
}

.SectionBrowseSecond {
  background-image: url(src/assets/teslaBackgroundu.png);
}

.SectionbrowseThird {
  background-image: url(src/assets/teslaBackgroundu.png);
}
.teslaHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 60px;
}
.teslaHeading span {
  color: white;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin-top: 20px;
}
.teslaHeading h6 {
  color: white;
  font-family: "Poppins", serif;
  font-weight: 800;
  font-size: 30px;
  padding-top: 5px;
}

.volswagenheading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.volswagenheading span {
  color: white;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}
.volswagenheading h6 {
  color: white;
  font-family: "Poppins", serif;
  font-weight: 800;
  font-size: 30px;
}

.porseHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.porseHeading span {
  color: white;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}
.porseHeading h6 {
  color: white;
  font-family: "Poppins", serif;
  font-weight: 800;
  font-size: 30px;
}

.grid-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.SectionBrowseFirst img {
  height: 360px;
}

.SectionArrow {
 
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.occasion {
  display: flex;
  background-color: #f7f7f7;
  padding: var(--global-padding);
  width: 100%;
}
.Occasionfirst {
  padding-top: 40px;
  width: 50%;
}

.OccasionSecond {
  padding-top: 40px;
  font-family: "Poppins", serif;
  font-weight: 400;
  width: 50%;
  

}
.Occasionbutton {
  padding-top: 20px;
}

.Destination {
  background-color: #f7f7f7;
}
.destinationHeading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.destinationHeading span {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  color: #c5c5c5;
  font-size: 22px;
  font-family: "Poppins", serif;
  font-weight: 300px;
}
.destinationHeading h2 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: bold;
  font-size: 41px;
  color: #22af86;
}
.CircleDestination {
  display: flex;
  justify-content: center;
  gap: 41px;
  padding-bottom: 80px;
}
.CircleDestination span {
  font-family: "Poppins", serif;
  font-weight: 300;
}
.CircleDestination h4 {
  font-family: "Poppins", serif;
  font-weight: 700;
  color: #22af86;
  font-size: 35px;
}
.CircleDestinationFirst {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CircleDestinationFirst img {
  border: solid 1.5px black;
  border-radius: 50%;
  padding: 6px;
}
.CircleDestinationSecond img {
  border: solid 1.5px black;
  border-radius: 50%;
  padding: 6px;
}
.CircleDestinationThrid img {
  border: solid 1.5px black;
  border-radius: 50%;
  padding: 6px;
}
.CircleDestinationSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CircleDestinationThrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daydreams-section {
  position: relative;
  height: 900px;
  background-color: black;
}

.top-para {
  display: flex;
  text-transform: uppercase;
  padding-top: 5rem;
  color: #c5c5c5;
  font-size: 1.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.heading-top {
  display: flex;
  color: #22af86;
  padding-bottom: 2.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700px;
  align-items: center;
  justify-content: center;
}
.three-images {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.daydream-section-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.daydream-section-card img {
  width: 379px;
  height: 279px;
}

.small-text {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
  color: #525758;
  font-size: 1rem;
}
.lower-heading {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
}
.read-more button {
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--beige-clr);
  padding: 1rem 4rem;
  border-radius: 99rem;
  border: none;
  outline: none;
}

.daydream-section-car-display {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  left: 0;
  width: 100%;
}

.daydream-section-car-display img {
  width: 100%;
  object-fit: cover;
}
/* section 5 start fron here --> */

.section-5 {
  height: 90vh;
  margin-top: 300px;
  padding: var(--global-padding);
}
.three-review {
  display: flex;
  gap: 1rem;
}
.review-card {
  display: flex;
  background: var(--grey-clr);
  height: 40vh;
  width: 30%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  justify-content: center;
}

.debug {
  outline: auto;
}

.review img {
  width: 100%;
}
.partners-logo {
  justify-content: center;
}
.partners-logo img {
  width: 100%;
}

/* footer */

.footerparent {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  padding-right: 100px;
  padding-left: 100px;
}
.line {
  width: 0.5px;
  background-color: white;
}

.footer-col {
  width: 23%;
  color: #ffffff;
  padding: 10px;
}

.logo-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconImg {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
.footer-col h4 {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
}

ul.links {
  list-style-type: none;
  padding: 0;
}

ul.links li {
  margin: 5px 0;
}

ul.links a {
  color: #ffffff;
  text-decoration: none;
}

ul.links a:hover {
  text-decoration: underline;
}
