input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; /* For Safari and Chrome */
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
