#searchBar {
  max-width: 850px;
  padding: 0px 20px;
  margin: 44px auto;
}
.filters {
  display: flex;
  margin-top: 28px;
  margin-bottom: 28px;

  gap: 4px;
}
.filters button {
  display: flex;
  gap: 4px;
  width: 14%;
  border: 1.6px solid #696969;
  padding: 6px 6px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 50px;
  outline: none;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.filters button:first-child {
  width: 64px;
  height: 56px;
  padding: 16px 12px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  outline: none;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
}

.main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
}
.cars-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cars-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  outline: auto;
}
.car-img {
  width: 100%;
  object-fit: cover;
  grid-column: span 2;
  grid-row: span 2;
  outline: auto;
}

.heart {
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: end;
}
.heading-area {
  grid-row: span 3;
}
.heading-area h2 {
  font-size: 30px;
  font-weight: 700;
}

.details-grid {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: 10px;
}
.details {
  display: flex;
}
img {
  object-fit: cover;
}
.location-area {
  display: flex;
  margin-top: 10px;
}
.price {
  align-items: end;
  justify-items: end;
}
.map-section {
  display: flex;
}
.map-section img {
  object-fit: cover;
  justify-content: center;
  align-items: center;
}
.partners-logo {
  justify-content: center;
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.partners-logo img {
  width: 100%;
  object-fit: contain;
}
.details img {
  object-fit: contain;
}
.cars-section {
  max-width: 500px;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .price {
    margin-top: 0px;
  }
  .heading-area h2 {
    font-size: 1.5rem;
  }
  .location-area p {
    font-size: 12px;
    font-weight: 400;
  }
  .price {
    font-size: 12px;
    font-weight: 400;
  }

  .main {
    padding: 0px;
  }

  .partners-logo {
    justify-content: center;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .cars-section {
    padding: 0px 20px;
  }
  .filters {
    padding: 0px;
    justify-content: center;
    margin-bottom: 20px;
  }
  .filters button {
    width: fit-content;
  }
  #Deliver-to-me {
    display: none;
  }
  #Electric {
    display: none;
  }
  #Seats {
    display: none;
  }
  #Years {
    display: none;
  }
  #Make {
    display: none;
  }
  .car-img {
    width: 40%;
  }
  .text-area {
    width: 60%;
  }
  .map-section {
    padding: 0px 20px;
  }
  .partners-logo {
    padding: 0px 20px;
  }
  .cars-section {
    gap: 4px;
  }
  .details p {
    font-size: 12px;
    font-weight: 400;
  }
  .details-grid {
    gap: 2px;
  }
  .details img {
    height: 15px;
    width: 15px;
    object-fit: contain;
  }
  .location-area img {
    height: 15px;
    width: 15px;
    object-fit: contain;
  }
  .wishlist {
    height: 15px;
    width: 15px;
    object-fit: contain;
  }
  .cars-section {
    max-width: 500px;
  }
}

.cars-list {
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5);
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
}

.car-display {
  grid-column: span 2;
}
.car-display img {
  height: 100%;
}
.car-name {
  font-size: 18px;
  font-weight: 700;
}

.wishlist {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
}
.car-name {
  grid-column: span 4;
  grid-row-start: 2;
  /* outline: auto; */
  padding: 14px;
}
.additional-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 3;
  /* outline:auto; */
  padding: 14px;
}
details p {
  font-size: 15px;
  font-weight: 400;
}
.additional-details {
  padding-top: 20px;
}

#searchBar {
  padding: 0px 20px;
}

.location-area {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media screen and (min-width: 768px) {
  .car-name {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: none;
  }
  .car-display {
    grid-row: span 2;
  }
  .cars-section {
    max-width: 100%;
  }
  .car-name {
    font-size: 20px;
    font-weight: 700;
  }

  .details p {
    font-size: 16px;
    font-weight: 400;
  }
  .location-area {
    font-size: 14px;
    font-weight: 400;
  }
  .location-area img {
    height: 14px;
    -webkit-column-width: 24px;
  }
  .price {
    font-size: 20px;
    font-weight: 400;
  }
}
