@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", serif;
}

:root {
  --main-color: #22af86;
  --padding-left-right: 80px;
}

#searchBar{
  max-width: 850px;
  padding: 0px 20px;
  margin: 44px auto;
}
.left-side {
  width: 72%;
  padding: left 80px;
}

.right-side {
  width: 24;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
  width: 76%;

  margin: 0px auto;
}

.second-section {
  margin-top: 40px;
}
.grid-item {
  object-fit: cover;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.grid-item-span {
  grid-column: span 2;
  grid-row: span 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.grid-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.icon-one {
  right: 8px;
  position: absolute;
  display: flex;
  top: 8px;
  justify-content: center;
  align-items: center;
  float: right;
  background-color: white;
  aspect-ratio: 1;
  padding: 8px;
  border-radius: 9999px;
  object-fit: cover;
}

.heading {
  font-size: 40px;
  font-weight: 700;
}

.grid-item-span > p{
  font-size: 20px;
  font-weight: 400;
}
.star {
  display: flex;
  width: 18px;
  height: 18px;
  align-items: center;
}
.five-star h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 20px;
 
}
.five-star {
  display: flex;
  align-items: center;
  gap: 8px;
}
.trips {
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
}
.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  width: fit-content;
  grid-gap: 10px;
  margin-top: 10px;
}


.grid-elements p{
  font-size: 15px;
  font-weight: 400;
}
.grid-elements{
  display: flex;
  object-fit: cover;
  gap: 8px;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 60px;

  justify-content: flex-start;
}
.grid-elements img {
  height: 20px;
  width: 20px;
  justify-content: start;
}
.grid-item right-section {
  grid-column: span 2;
  grid-row: span 2;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description{
  margin-top: 30px;
}

.description p{
  font-size: 16px;
  font-weight: 400;
  color: var(--main-color)
}
.description h2{
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color)
  
}
.para {
  font-size: 16px;
  font-weight: 400;
  color: #696969;
  margin-top: 20px;
}
.read-more{
  margin-top: 20px;
}
.read-more button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--main-color);
  padding: 12px 50px 12px 50px;
  border-radius: 99rem;
  border: none;
  outline: none;
}
.Features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
  width: 30%;
}
.grid-one {
  display: flex;
  width: 40px;
  height: 20px;
}
.progress-bar {
  display: grid;
  grid-template-columns: 20% 2fr 1fr;
  margin-top: 4px;
  gap: 10px;
}
.tittle-section h3 {
  font-size: 15px;
  font-weight: 400;
}
.value-section {
  width: fit-content;
}
.bar-section img {
  object-fit: contain;
  width: 100%;
}
.review-card {
  display: flex;
  margin-top: 28px;
  width: 100%;
}
.person-image {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.stars-5 {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 10px;
}
.publish-details {
    margin-top: 8px;
  width: 400px;
  text-transform: uppercase;
  color: #666666;
}
.star-holder{
    display: flex;
    gap: 4px;
}

.publish-text {
  padding-top: 10px;
}
.stars-5 img {
  width: 20px;
  height: 20px;
  justify-content: center;
  object-fit: contain;
  align-items: center;
 
}
.partners-logo {
  justify-content: center;
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 60px;
  
}

.partners-logo img {
  width: 100%;
  object-fit: contain;
}


@media (max-width: 768px) { 
  .main{
    grid-template-columns: auto;
    width: 90%;
  }
  .second-section{
margin-top: 10rem;
  }
    .grid-elements{
      padding-right: 0px;
    } 
  
  .overview{
    flex-wrap: wrap;
  }
.progress-bar{
    grid-template-columns: 2fr 2fr 1fr;

}
.partners-logo{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.map {
  padding-left: 20px;
  padding-right: 20px;
}
.last-heading {
  padding-left: 20px;
  padding-right: 20px;
}
.publish-details{
  width: auto;
}
}

