*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  header{

    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    z-index: 499;
 
  
    
  }
  .logo {
    width: 35%;
}
  .logo img{
    height: 100px;
    width: 220px;

  }
  .headerUserBox{
    display: flex;
    align-items: center;
    gap: 10px;
   
  }
  .HeaderHumburger{
    font-weight: 200px;
  }
  button{
   
    background-color: #22AF86;
    width: 250px;
    height: 50px;
    color: white;
    font-size: 13px;
    
    border-radius: 30px;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;

  }